<!doctype html>
<html lang="ja">
<title>note-review-tool</title>
<style type="text/css">
<!--
#site-title {
  text-align : center;
  font-size : 50px;
}
-->
</style>
<body>
<h1 id="site-title">note review tool!</h1>
<textarea name="editor" id="editor">
$article
</textarea>
<a id="download" href="#" download="data.txt" onclick="save()">保存</a><br />
<script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script>
  CKEDITOR.replace( 'editor', { height: 700, width: 1200 } );
  CKEDITOR.editorConfig = function( config ) {
    config.language = 'ja';
  };
</script>
<script>
  function save(){
    var data = CKEDITOR.instances.editor.getData();
    var blob = new Blob([ data ], { "type" : "text/plain" });

    if (window.navigator.msSaveBlob) { 
        window.navigator.msSaveBlob(blob, "data.txt"); 
        window.navigator.msSaveOrOpenBlob(blob, "data.txt"); 
    } else {
        document.getElementById("download").href = window.URL.createObjectURL(blob);
    }
  }
</script>
</body>
</html>
